*{
  font-family: Roboto,Arial;
}
.home-nav{
  width: 850px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 15, 209);
  color: white;
}
.text-head{
  margin-left: 10px;
  width: 150px;
  font-weight: bold;
}
.search{
  flex: 1;
}
.search-box{
  font-size: 16px;
  width:500px;
  height:32px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  
}
.download{
padding-right: 20px;
}
.btn-download{
  background-color:rgb(209, 15, 209);
  color: white;
  border:1px solid;
  padding:6px 8px;
  border-radius: 2px;
}
